/* Google Fonts {
    font-family: 'Bangers', cursive;
    font-family: 'Gudea', sans-serif; 400, 400 italic and 700
} */

body {
    font-family: 'Bangers', cursive;
}


.weird {
    box-shadow: inset 1px 1px 20px #000
}

#bridge {
    padding: 0;
}

#gap {
    padding: 0;
}

#mainHeader, #search, #favHeroes, #metaData, #heroStats, #descriptionCard, #popChars, #slide-out {
    font-family: 'Bangers', cursive;
    background-color: red;
    font-weight: 100;
}

/* Slide out styles */
#slide-out li h4 {
    padding: 32px 0 0 0;
}

#slide-out li a {
    font-size: 1.8rem;
    padding: 0 16px 0 16px;
    display: inline;
}

#slide-out li img {
    width: 40px;
    border: black;
    border-style: solid;
    border-width: thin;
}

#slide-out li {
    padding: 8px 0 8px 32px;
}

#popChars li a {
    font-size: 1.25rem;
}

/* Added typographic heirarchy to longer text */
#descriptionText {
    font-family: 'Gudea', sans-serif;
    font-weight: 400;
}

#heroNumbers {
    font-family: 'Gudea', sans-serif;
    font-weight: 400;
}

#heroName {
    margin-top: 0rem;
}

#heroGif {
    margin-top: 1%;
    border: none;
}

#popCharsTitle {
    margin-left: 1%;
}

/* Nav had a lighter color and could appear when prototyping */
nav {
    background-color: #FF0000;
}

/* Search Bar */
input#search {
    font-size: 1.25rem;
}

/* Override defaults so that the dropdown is a bit wider */
#dropdown1 {
    min-width: 150px;
    background-color: #2A3132;
}

/* Favorites title */
.dropdown-trigger {
    font-size: 1.25rem;
}

/* Override defaults for favorites dropdown so that it can include thumbnails */
.dropdown-content li>a {
    padding: 0px 0px; 
    margin: auto;
    color: #49fcd4;
}

html {
    background:
        url(images/back2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

@media only screen and (max-width: 992px) {
    #popCharsTitle {
        left: 22%;
    }
}

@media only screen and (max-width: 600px) {
    #makeGone {
        display: none;
    }

    #makeThicc {
        white-space: nowrap;
    }
}